// _layout.scss
img.portrait {
	width:272px;
	margin:15px 0;
	padding:0;
}

h1 {
	padding:0 0 20px 0;
	margin:20px 0 20px 0;
}

footer {
	text-align: center;
	padding: 30px 0	;
}

.period {
	padding-top:8px;
}
