// _printing.scss
.hidden, .print {
	display:none;
}

@media print {
	.print {
		display:initial;
	}
	.no-print {
		display:none;
	}
	a, a:link, a:active, a:visited, a:hover {
		text-decoration:none;
	}
}