---
---
@import "typography";
@import "colors";
@import "layout";
@import "sticky-footer";
@import "contact-form";
@import "printing";

@media screen and (min-width: 768px) {
	header {
		padding-top:30px;
		padding-bottom:30px;
	}
    header, section {
		padding-right:90px;
	}
}

@media screen and (max-width: 1200px) {
	header, header div h1, header div ul  {
		text-align:center;
	}
}

@media screen and (max-width: 768px) {
	.text-right {
		text-align:left!important;
	}
	.portrait {
		width:200px!important;
	}
}