<!doctype html>
<html lang="sv">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="google-site-verification" content="3Qdz5JstU2uXE_fpDBR8V-RCS6lyMlm8r8zBWCJ2lts" />
		<meta name="author" content="{{ site.author }}" />
		<meta name="description" content="{{ page.description }}" />
		<meta property="og:title" content="{{ site.author }} - {{ page.title }}" />
		<meta property="og:description" content="{{ page.description }}" />
		<meta property="og:url" content="/" />
		<meta property="og:image" content="/assets/img/lena.jpg">
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="586" />
		<meta property="og:image:height" content="694" />
		<meta property="og:type" content="article" />
		<meta property="og:locale" content="sv-SE" />
    {% if page.robots %}<meta name="robots" content="{{ page.robots }}" />{% endif %}
		<title>{{ site.author }} - {{ page.title }}</title>
		<link rel="dns-prefetch" href="//fonts.googleapis.com" />
		<link rel="canonical" href="{{ page.url }}" />
		<link rel="author" href="/humans.txt" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
		<link rel="stylesheet" href="/assets/css/lena.css?v={{ site.time | date: '%s' }}" />
	</head>
	<body>
		{{ content }}
		<script src="/assets/js/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="/assets/js/lena.js?v={{ site.time | date: '%s' }}"></script>
	</body>
</html>