---
layout: default 
---
<header class="row">
	<div class="col-md-3 offset-md-3 col-sm-12">
		<img src="/assets/img/lena.jpg" class="portrait" alt="Bild på {{ site.author }}" />
	</div>
	<div class="col-md-6 col-sm-12 text-right">
		<h1>{{ site.author }}</h1>
		<form class="contact-form contact-form-large no-print container">
			<input type="hidden" id="ip" />
			<input type="hidden" id="subject" value="Contact Form" />
			<div class="offset-md-1">
				<div class="form-group">{{ site.data.beskrivning }}</div>
				<div class="form-group">
					<input class="form-control" id="from" placeholder="Din e-postadress" />
				</div>
				<div class="form-group">
					<textarea class="form-control" id="message" style="height: 100px;" placeholder="Meddelande"></textarea>
				</div>
				<div class="row">
					<div id="status" class="col-sm-8 text-right"></div>
					<div class="col-sm-4 text-right"><button class="btn btn-default btn-sm" type="submit">Kontakta mig!</button></div>
				</div>
			</div>
		</form>
	</div>
</header>
<section class="row">
	<h2 class="col-md-9 offset-md-3 col-sm-12">Anställningar</h2>
	<ul class="col-12 list-unstyled">
		{% for jobb in site.jobb reversed %}
		<li class="row">
			<div class="col-md-3 col-sm-12 text-right header period">
				{{ jobb['Start'] }} - {{ jobb['Slut'] }}
			</div>
			<div class="col-md-9 col-sm-12">
				<h3>{{ jobb['Titel'] }} - {{ jobb['Arbetsgivare'] }}</h3>
				<p>
					{{ jobb.content }}
				</p>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="row">
	<h2 class="col-md-9 offset-md-3 col-sm-12">Utbildning</h2>
	<ul class="col-12 list-unstyled">
		{% for utbildning in site.utbildning reversed %}
		<li class="row">
			<div class="col-md-3 col-sm-12 text-right"><span class="header">{{ utbildning['År'] }}</span></div>
			<div class="col-md-9 col-sm-12">
				<div><span class="header">{{ utbildning['Titel'] }}</span>, {{ utbildning['Beskrivning'] }}, {{ utbildning['Skola'] }}</div>
				<p>Examensarbete: {{ utbildning['Examensarbete'] }}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="row">
	<h2 class="col-md-9 offset-md-3 col-sm-12">Diverse Kurser</h2>
	<ul class="col-12 list-unstyled">
		{% for x in site.data.kurser %}
		<li class="row">
			<div class="col-md-3 col-sm-12 text-right"><span class="header">{{ x['Period'] }}</span> {{ x['Kommentar'] }}</div>
			<ul class="col-md-9 col-sm-12 list-unstyled">
				{% for kurs in x['Kurser'] %}
				<li>{{ kurs }}</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="row">
	<h2 class="col-md-9 offset-md-3 col-sm-12">Språkkunskaper</h2>
	<ul class="col-md-9 offset-md-3 col-sm-12 list-unstyled">	
		<li>
			<table>
				{% for x in site.data.sprak %}
				<tr><td>{{ x['Språk'] }}</td><td>- {{ x['Nivå'] }}</td></tr>
				{% endfor %}
			</table>
		</li>
	</ul>
</section>

<section class="row">
	<h2 class="col-md-9 offset-md-3 col-sm-12">Övriga kunskaper</h2>
	<ul class="col-md-9 offset-md-3 col-sm-12 list-unstyled">
	{% for x in site.data.ovrigt %}
		<li>{{ x }}</li>
	{% endfor %}
	</ul>
</section>

<section class="row">
	<h2 class="col-md-9 offset-md-3 col-sm-12">Personligt</h2>
	<ul class="col-md-9 offset-md-3 col-sm-12 list-unstyled"><li>{{ site.data.personligt }}</li></ul>
</section>

<section class="row">
	<h2 class="col-md-9 offset-md-3 col-sm-12">Referenser</h2>
	<ul class="col-md-9 offset-md-3 col-sm-12 list-unstyled"><li>{{ site.data.referenser }}</li></ul>
</section>

<section class="row">
	<form class="contact-form contact-form-small no-print col-md-9 offset-md-3 col-sm-12">
		<h2>Kontakta mig</h2>
		<input type="hidden" id="subject" value="Contact Form" />
		<div class="form-group">
			<input class="form-control" id="from" placeholder="Din e-postadress" />
		</div>
		<div class="form-group">
			<textarea class="form-control" id="message" style="height: 100px;" placeholder="Meddelande"></textarea>
		</div>
		<button class="form-group btn btn-default btn-sm col-12" type="submit">Kontakta mig!</button>
		<div class="form-group">
			<div id="status" class="col-sm-8 text-center"></div>
		</div>
	</form>
</section>
